
.map-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.map {
    height: 80vh;
    width: 50%;
}


.find-places-button {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
}